{% extends 'base.html.twig' %}

{% block title %} Innova'Up {% endblock %}

{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


{#----------------------------------------------AVEC IDENTIFICATION#}
        <nav xmlns="http://www.w3.org/1999/html">

            <ul id="dropdown1" class="dropdown-content">
                <li><a class="color" href="#">{{ 'Bonjour'|trans }}  {{app.user.nom}}
                        <div class="divider"></div>
                <li><a href="{{ path('homepageProfil') }}">{{ 'Mon compte'|trans }}
                       </a></li>
                <li><a href="{{ path('editProfil') }}">{{ 'Gérer mon profil'|trans }}</a></li>
                <li><a href="{{ path('showMyProfil') }}">{{ 'Voir mon profil public'|trans }}</a></li>
                <li><a href="{{ path('createProjet') }}">{{ 'Créer un projet'|trans }}</a></li>
                <li><a href="{{ path('showMyProject') }}">{{ 'Gérer mes projets'|trans }}</a></li>
                <li><a href="{{ path('connect') }}">{{ 'Mes discussions'|trans }}
                        {{ render(controller('MBLBundle:User:countViews')) }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Log out'|trans }}</a></li>
            </ul>
            <div class="nav-wrapper header">
                <a class="color darkerBiz" href="{{ path('mbl_homepage') }}"><img class="logotxt"
                    src="{{ asset('bundles/mbl/img/logoinnovauptxt.png') }}"></a>
                <a class="tooltipped" data-position="bottom" data-delay="50"
                   data-tooltip="{{ 'index.description.ebusta'|trans }}" href="https://www.e-busta.com/">
                    <img class="responsive-img logoEbMenu hide-on-large-only hide-on-small-only" src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                </a>
                <a class="tooltipped hide-on-small-only hide-on-large-only lancer" data-position="bottom" data-delay="50"
                   data-tooltip="{{ 'Trouve sur MyStartupTools.com'|trans }}
                            {{ 'Tous les outils pour t’aider à lancer ton activité'|trans }}"
                   href="#">{{ 'Se lancer'|trans }}</a>


{#----------------------------------------#}
                <a href="#" data-activates="mobile-demo"
                   class="button-collapse right"><i class="color material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="color darkerTop"  href="{{ path('connect') }}">
                            {{ render(controller('MBLBundle:User:countDemandeContact')) }}</a></li>
                    <li><a class="color darkerTop"  href="{{ path('showProject') }}">
                            {{ 'Parcourir les projets'|trans }}</a></li>
                    <li><a class="color darkerTop"  href="{{ path('showAllProfils') }}">
                            {{ 'Parcourir les profils'|trans }}</a></li>
                    <li><a class="color dropdown-button" href="#!" data-activates="dropdown1">
                            <i class="right">{{ 'Mon compte'|trans }} {{ render(controller('MBLBundle:User:countViews')) }}</i></a></li>
                </ul>
                <ul class="right hide-on-large-only">
                    <li><a class="color darkerTop tooltipped BB" data-position="bottom" data-delay="50"
                           data-tooltip="{{ 'Pour les porteurs de projet'|trans }} {{ 'index.description.but'|trans }}"
                           href="{{ path('showProject') }}">{{ 'Projet'|trans }}</a></li>
                    <li><a class="color darkerTop tooltipped BB" data-position="bottom" data-delay="50"
                           data-tooltip="{{ 'Pour ceux qui cherchent un projet à intégrer'|trans }}
                           {{ 'index.description.howDo'|trans }}"
                           href="{{path('showAllProfils')}}">{{ 'Profil'|trans }}</a></li>
                </ul>

{#______________________________________#}
                <a href="#" data-activates="mobile-demo"
                       class="button-collapse right hide-on-med-and-down"><i class="color material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li class="divider"></li>
                    <li><a class="color" href="#">{{ 'Bonjour'|trans }}  {{app.user.prenom}}
                        </a></li>
                    <li class="divider"></li>
                    <li><a class="color" href="{{ path('homepageProfil') }}">{{ 'Mon compte'|trans }}</a></li>
                    <li><a class="color" href="{{ path('editProfil') }}">{{ 'Gérer mon profil'|trans }}</a></li>
                    <li><a class="color" href="{{ path('showMyProfil') }}">{{ 'Voir mon profil public'|trans }}</a></li>
                    <li><a class="color" href="{{ path('createProjet') }}">{{ 'Créer un projet'|trans }}</a></li>
                    <li><a class="color" href="{{ path('showMyProject') }}">{{ 'Gérer mes projets'|trans }}</a></li>
                    <li><a class="color" href="{{ path('connect') }}">{{ 'Mes discussions'|trans }}
                            {{ render(controller('MBLBundle:User:countViews')) }}</a></li>
                    <li class="divider hide-on-med-only"></li>
                    <li><a class="tooltipped hide-on-med-and-up darkerTop lancerSmall"
                           data-position="bottom" data-delay="50" data-tooltip="Trouve sur MyStartupTools.com
                            tous les outils pour t’aider à lancer ton activité." href="#">{{ 'Outils pour se lancer'|trans }}</a></li>
                    <li><a class="tooltipped color darkerTop lancerSmall hide-on-med-and-up" data-position="bottom"
                           data-delay="50"
                           data-tooltip="Avec ses enveloppes publiques, E-busta.com vous
                            propose de réaliser des campagnes de Crowdfunding
                            de don en contrepartie pour vous aider à financer
                            votre projet. Seule une commission de 4% du montant
                            collecté sera appliquée, faisant de E-busta le site de
                            Crowdfunding le moins cher du marché." href="https://www.e-busta.com/">
                            {{ 'Finance ton projet'|trans }}</a></li>
                    <li class="divider"></li>
                    <li><a class="color darkerTop show-on-medium-and-down lancerSmall" href="{{ path('showProject') }}">
                            {{ 'Parcourir les projets'|trans }} </a></li>
                    <li><a class="color darkerTop show-on-medium-and-down lancerSmall" href="{{path('showAllProfils')}}">
                            {{ 'Parcourir les profils'|trans }}</a></li>
                    <li class="divider"></li>
                    <li><a class="color" href="{{ path('fos_user_security_logout') }}">{{ 'Log out'|trans }}</a></li>
                </ul>
            </div>
        </nav>

        {#----------------------------- SANS IDENTIFICATION#}
    {% else %}
        <nav>
            <div class="nav-wrapper header">
                <a class="color darkerBiz" href="{{ path('mbl_homepage') }}" ><img class="logotxt" src="{{ asset('bundles/mbl/img/logoinnovauptxt.png') }}"></a>
                <a class="tooltipped" data-position="bottom"
                   data-delay="50" data-tooltip="{{ 'index.description.ebusta'|trans }}"
                   href="https://www.e-busta.com/">
                    <img class="responsive-img logoEbMenu hide-on-small-only" src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                </a>
                <a class="tooltipped lancer" data-position="bottom" data-delay="50"
                   data-tooltip="{{ 'Trouve sur MyStartupTools.com'|trans }}
                            {{ 'Tous les outils pour t’aider à lancer ton activité'|trans }}"
                   href="#">{{ 'Se lancer'|trans }}</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="color darkerTop" href="{{ path('showProject') }}">
                            {{ 'Parcourir les projets'|trans }}</a></li>
                    <li><a class="color darkerTop" href="{{path('showAllProfils')}}">
                            {{ 'Parcourir les profils'|trans }}</a></li>
                    <li><a class="color connexion" href=#modal1> {{ 'Connectez-vous'|trans }}</a></li>
                </ul>
                <ul class="right PP hide-on-med-and-up">
                    <li><a class="color darkerTop tooltipped BB" data-position="bottom" data-delay="50"
                           data-tooltip="{{ 'Pour les porteurs de projet'|trans }} {{ 'index.description.but'|trans }}"
                           href="{{ path('showProject') }}">{{ 'Projet'|trans }}</a></li>
                    <li><a class="color darkerTop tooltipped BB" data-position="bottom" data-delay="50"
                           data-tooltip="{{ 'Pour ceux qui cherchent un projet à intégrer'|trans }}
                           {{ 'index.description.howDo'|trans }}"
                           href="{{path('showAllProfils')}}">{{ 'Profil'|trans }}</a></li>
                    <li><a class="color" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({},
                            'FOSUserBundle') }}</a></li>
                </ul>

{#Burger menu for small devices and non logged users#}
                <a href="#" data-activates="mobile-demo"
                   class="button-collapse right hide-on-large-only">
                    <i class="color material-icons">menu</i>
                </a>
                <ul class="side-nav" id="mobile-demo">


                    <li><a class="tooltipped color darkerTop show-on-small hide-on-med-and-up" data-position="bottom"
                           data-delay="50" data-tooltip="{{ 'Trouve sur MyStartupTools.com'|trans }}
                            {{ 'Tous les outils pour t’aider à lancer ton activité'|trans }}"
                    href="#">{{ 'Outils pour se lancer'|trans }}</a></li>
                    <li><a class="tooltipped color darkerTop show-on-small hide-on-med-and-up" data-position="bottom"
                       data-delay="50"
                       data-tooltip="{{ 'index.description.ebusta'|trans }}" href="https://www.e-busta.com/">
                        {{ 'Finance ton projet'|trans }}</a></li>
                    <li class="divider show-on-small hide-on-med-and-up"></li>


                    <li> <li><a class="color darkerTop show-on-medium" href="{{ path('showProject') }}">
                            {{ 'Parcourir les projets'|trans }} </a></li>
                    <li><a class="color darkerTop show-on-medium" href="{{path('showAllProfils')}}">
                            {{ 'Parcourir les profils'|trans }}</a></li>
                    <li class="divider"></li>
                    <li><a class="color" href=#modal1>{{ 'Connectez-vous'|trans }}</a>
                </ul>
            </div>
        </nav>


        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="row">
                <div class="col s12 tabs">
                    <ul class="tabs">
                        <li class="tab col s6 logOnglet active"><a href="#Connexion">{{ 'Connectez-vous'|trans }}</a></li>
                        <li class="tab col s6 regOnglet"><a href="#Register">{{ 'inscrivez-vous'|trans }}</a></li>
                    </ul>
                </div>
                <div id="Connexion" class="col s12">{{ render(controller('FOSUserBundle:Security:login')) }}</div>
                <div id="Register" class="col s12">{{ render(controller('FOSUserBundle:Registration:register')) }}</div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block bandeau %}
    <div class="bandeau">
        <div class="col s12">
            {% block titreH2 %} <h2>Ecrivez votre titre!</h2> {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
                <div class="col l2 s12">
                    <ul class="lang-menu">
                        <li><a class="grey-text text-lighten-3" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">{{ 'FR'|trans }}</a> | <a class="grey-text text-lighten-3" href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'}))}}">{{ 'IT'|trans }}</a></li>
                        <li>
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">{{ 'Lien utiles'|trans }}</h5>
                    <ul class="liensfooter">
                        <li><a class="grey-text text-lighten-3"
                               href="{{ path('apropos') }}">{{ 'A propos'|trans }}</a></li>
                        <li><a class="grey-text text-lighten-3"
                               href="{{ path('legal') }}">{{ 'Mention légales'|trans }}</a></li>
                        <li><a class="grey-text text-lighten-3"
                               href="{{ path('presse') }}">{{ 'Presse'|trans }}</a></li>
                        <li><a class="grey-text text-lighten-3"
                               href="{{ path('contact') }}">{{ 'Contact'|trans }}</a></li>
                        <li><a class="grey-text text-lighten-3"
                               href="{{ path('showProject') }}">{{ 'Les projets'|trans }}</a></li>
                        <li><a class="grey-text text-lighten-3"
                               href="{{ path('showAllProfils') }}">{{ 'Les profils'|trans }}</a></li>
                        <li><a class="grey-text text-lighten-3"
                               href="{{ path('conseils') }}">{{ 'Conseils'|trans }}</a></li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <h5 class="color-blue">{{ 'Suivez'|trans }} Innova-up.com</h5>
                    <a href="#"><img class="responsive-img" src="{{ asset('bundles/mbl/img/facebook.png') }}"
                                     alt='Icône Facebook'></a>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 © E-Busta Srl - All rights reserved - Partita IVA IT 06365730826
            </div>
        </div>
    </footer>

{% endblock %}


{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>
        $( document ).ready(function() {
        $(".button-collapse").sideNav();

        $(".dropdown-button").dropdown();

        $('.modal').modal();
        /*$('ul.tabs').tabs();
         $('ul.tabs').tabs('select_tab', 'tab_id');
         $('.tabs').tabs({ 'swipeable': true });*/
        $('.registerPlus').click(function () {
            $('.moreRegisterHidden').slideDown('slow').removeClass('moreRegisterHidden');
        })
    });
    </script>
{% endblock %}