{% extends 'base.html.twig' %}

{% block title %} MyBizenessLauncher {% endblock %}
{% block header %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


        <nav>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#">Bonjour  {{app.user.prenom}}</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('homepageProfil') }}">Mon compte</a></li>
                <li><a href="{{ path('editProfil') }}">Gérer mon profil</a></li>
                <li><a href="{{ path('showProfil') }}">Voir mon profil</a></li>
                <li><a href="{{ path('createProjet') }}">Créer un projet</a></li>
                <li><a href="{{ path('showMyProject') }}">Voir mes projets</a></li>
                <li><a href="{{ path('connect') }}">Mes discussions</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
            </ul>
            <div class="nav-wrapper header">
                <a class="color" href="{{ path('mbl_homepage') }}" >MyBizenessLauncher.com</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="color material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="color"  href="{{ path('showProject') }}">Parcourir les projets</a></li>
                    <li><a class="color"  href="{{path('showAllProfils')}}">Parcourir les profils</a></li>
                    <li><a class="color dropdown-button" href="#!" data-activates="dropdown1"><i class="right">Mon Compte</i></a></li>



                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a class="color" href="#">Bonjour  {{app.user.prenom}}</a></li>
                    <li class="divider"></li>
                    <li><a class="color" href="{{ path('homepageProfil') }}">Mon compte</a></li>
                    <li><a class="color" href="{{ path('editProfil') }}">Gérer mon profil</a></li>
                    <li><a class="color" href="{{ path('showProfil') }}">Voir mon profil</a></li>
                    <li><a class="color" href="{{ path('createProjet') }}">Créer un projet</a></li>
                    <li><a class="color" href="{{ path('showMyProject') }}">Voir mes projets</a></li>
                    <li><a class="color" href="{{ path('connect') }}">Mes discussions</a></li>
                    <li><a class="color" href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                </ul>
            </div>

        </nav>
    {% else %}

        <nav>
            <div class="nav-wrapper header">
                <a class="color" href="{{ path('mbl_homepage') }}" >MyBizenessLauncher.com</a>
                <ul id="nav-mobile" class="right">
                    <li><a class="color" href="{{ path('showProject') }}">Parcourir les projets</a></li>
                    <li><a class="color" href="">Parcourir les profils</a></li>
                    <li><a class="color" href=#modal1>Connexion</a>
                </ul>
            </div>
        </nav>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="row">
                <div class="col s12 tabs">
                    <ul class="tabs">
                        <li class="tab col s6 active"><a href="#Connexion">Connexion</a></li>
                        <li class="tab col s6"><a href="#Register">S'inscrire</a></li>
                    </ul>
                </div>
                <div id="Connexion" class="col s12">{{ render(controller('FOSUserBundle:Security:login')) }}</div>
                <div id="Register" class="col s12">{{ render(controller('FOSUserBundle:Registration:register')) }}</div>
            </div>
        </div>


    {% endif %}



{% endblock %}

{% block bandeau %}

    <div class="bandeau">
        <div class="col s12">
            {% block titreH2 %} <h2>Ecrivez votre titre!</h2> {% endblock %}
        </div>
    </div>
{% endblock %}



{% block footer %}
    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens utiles</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">A propos</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Mention légales</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Presse</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Les projets</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Les profils</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Conseils</a></li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Suivez MyBizenessLauncher.com</h5>
                    <p class="grey-text text-lighten-4"><Facebook></Facebook></p>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function(){
        $(".button-collapse").sideNav();

            $(".dropdown-button").dropdown();

        $('.modal').modal();
        /*$('ul.tabs').tabs();
        $('ul.tabs').tabs('select_tab', 'tab_id');
        $('.tabs').tabs({ 'swipeable': true });*/


        })

    </script>
{% endblock %}