{% extends "@MBL/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1> Vous pouvez discutez plus facilement ici </h1>
            <div id="users">
            </div>
            <div id="new-text">

                {% for text in chat.msgs %}
                    <div class="group-text">
                        <input type="hidden" value="{{ text.id }}"/>
                        <b><i> {{ text.profil }} </i></b>
                        <span> à {{ text.dateCreation|date('H:i:s') }}</span>
                        <p> {{ text.msg }} </p>
                    </div>
                {% endfor %}
            </div>
            <div id="textAdded">

            </div>
            <div id="textarea">
                {{ form_start(form, {'action': path('chatIndex', {'chatId' : chat.id}), 'method': 'GET'}) }}

                <input id="envoi" class="btn" type="submit" name="creation" value="Création">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
   {{ parent() }}
    <script>
        $(document).ready(function () {
            $('form[name="mblbundle_text"]').submit(function (e) {

                e.preventDefault(); // on empêche le bouton d'envoyer le formulaire
                // on sécurise les données
                var message = $(this).serialize();

                var remiseA = $(this);

                $.ajax({

                    method: 'post',
                    url:'{{ path('chatIndex', {'chatId' : chat.id}) }}',
                    data: message,


                    success: function (response) {

                        alert('text ajouté');

                            var li = $(document.createElement('li'));
                            li.attr('class', 'plop');

                            li.text(response);
                            $('#textAdded').append(li).hide().slideDown(200);
                            remiseA.trigger('reset');
                    }
                    })

                })

        })

    </script>
{% endblock %}