
{% extends 'MBLBundle::layout.html.twig' %}

{% block titreH2 %}<h2>Nouveau Projet</h2>{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col s6 center">

                Titre : {{ projet.titre }} <br>
                Description : {{ projet.description }} <br>
                Site Internet : {{ projet.siteInternet }} <br>
                E-busta Url : {{ projet.ebustaUrl }} <br>
                Localisation : {{ projet.localisation }} <br>
                Secteur : {{ projet.secteur.secteurActivite}} <br>
                Type de projet : {{projet.typeDeProjet.typeDeProjet }}<br>
            </div>
            <div class="col s6">
                {{ form_start(form_pro) }}
                <input type="hidden" name="id" value="{{ projet.id }}">
                {{ form_end(form_pro) }}
            </div>


        </div>



        <div class="row profil_recherche">

        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
            $('form[name="mblbundle_profilrecherche"]').submit(function(e){
               e.preventDefault();
               var data = $(this).serialize();
               var form = $(this);
               $.ajax({
                   method: 'post',
                   url: '{{ path('createProfilRechercheProjet') }}',
                   data: data,

                   success: function(response){

                       $('.profil_recherche').append(response);
                       $('.testtt').hide().fadeIn(2000);

                       form.trigger('reset');
                   }
               })
            });

            });
    </script>
{% endblock %}