{% extends 'MBLBundle::layout.html.twig' %}

{% block titreH2 %}<h2>Nouveau Profil recherché</h2>{% endblock %}

{% block body %}
<div id="formCreatePro">
    <div class="container">
        <div class="row">


            {#<div class="col s4 center">
                <div class="col s9 offset-s1 box_projet z-depth-5   ">
                    <div class="col s12">
                        <h4>Projet   {{ projet.titre }} </h4>
                    </div>
                    <div class="col s8 offset-s2 photo_profil">
                        <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                    </div>
                    <div class="col s12 info_projet">
                        <div class="col s12">
                            <h5>Description  </h5>
                            <p>{{ projet.description }} </p>
                        </div>
                        <div class="col s12">
                            <h5>Site Internet  </h5>
                            <p> {{ projet.siteInternet }} </p>
                        </div>
                        <div class="col s12">
                            <h5>E-busta Url  </h5>
                            <p> {{ projet.ebustaUrl }} </p>
                        </div>
                        <div class="col s12">
                            <h5>Localisation   </h5>
                            <p>{{ projet.localisation }}</p>
                        </div>
                        <div class="col s12">
                            <h5>Secteur  </h5>
                            <p>{{ projet.secteur.secteurActivite}} </p>
                        </div>
                        <div class="col s12">
                            <h5>Type de projet  </h5>
                            <p>{{projet.typeDeProjet.typeDeProjet }} </p>
                        </div>
                    </div>
                </div>
            </div>#}
            <div class="col s6">
                {{ form_start(form_pro) }}


                <div class="center-align">
                    {{ form_label(form_pro.metier, 'Profil recherché ') }}
                    {{ form_errors(form_pro.metier) }}
                    {{ form_widget(form_pro.metier, {'attr': {'placeholder': '  Profil'}}) }}
                </div>
                <div class="center-align">
                    {{ form_label(form_pro.etq, 'Disponible en tant que ') }}
                    {{ form_errors(form_pro.etq) }}
                    {{ form_widget(form_pro.etq, {'attr': {'placeholder': ' En tant que'}}) }}
                </div>
                <div class="center-align">
                    {{ form_label(form_pro.competences, 'Compétences ') }}
                    {{ form_errors(form_pro.competences) }}
                    {{ form_widget(form_pro.competences, {'attr': {'class': 'blue lighten-4'}}) }}
                </div>
                <div class="center-align">
                    {{ form_label(form_pro.dispo, 'Disponibilité ') }}
                    {{ form_errors(form_pro.dispo) }}
                    {{ form_widget(form_pro.dispo, {'attr': {'class': 'blue lighten-4','placeholder': ' disponibilité'}}) }}
                </div>
                <div class="center-align">
                    {{ form_label(form_pro.ou, 'Où ca ? ') }}
                    {{ form_errors(form_pro.ou) }}
                    {{ form_widget(form_pro.ou, {'attr': {'placeholder': ' Où ça ?:'}}) }}
                </div>
                <div class="center-align">
                    {{ form_label(form_pro.invest, 'Investissement ') }}
                    {{ form_errors(form_pro.invest) }}
                    {{ form_widget(form_pro.invest, {'attr': {'placeholder': ' Investissement:'}}) }}
                </div>
                <div class="bouton">
                    <input class="btn" type="submit">
                </div>

                <input type="hidden" name="id" value="{{ projet.id }}">

                {{ form_end(form_pro) }}
            </div>
                <div class="row profil_recherche">
                    {% for profil in profil_Recheche_exist %}
                        <div class="col s3 vignette_profil ">
                            <div class="content z-depth-5">
                                <div class="row vignette ">
                                    <div class="col s12">
                                        <h4>Profil Recherché</h4>
                                    </div>
                                    <div class="col s8 offset-s2 photo_profil">
                                        <img src="{{ asset('bundles/mbl/img/kyan.png') }}">
                                    </div>
                                </div>
                                <div class="row info_profil">
                                    <div class="col s12">
                                        <h5>Profil</h5>
                                        <p>{{ profil.metier.metier }}</p>
                                    </div>
                                    <div class="col s12">
                                        <h5>Disponibilité</h5>
                                        <p>{{ profil.dispo.dispo }}</p>
                                    </div>
                                    <div class="col s12">
                                        <h5>En tant que</h5>
                                        <p>{{ profil.ETQ.etq }}</p>
                                    </div>
                                    <div class="col s12">
                                        <h5>Localisation</h5>
                                        <p>{{ profil.ou.ou }}</p>
                                    </div>
                                    <div class="col s12">
                                        <h5>Investissement</h5>
                                        <p>{{ profil.invest.invest }}</p>
                                    </div>
                                    <div class="col s12">
                                        <h5>Compétences</h5>
                                        {% for comp in profil.competences %}
                                            <p>{{ comp.competences }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <button class="btn deleteProfilR" id="{{ profil.id }}">Supprimer</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
            $('form[name="mblbundle_profilrecherche"]').submit(function(e){
               e.preventDefault();
               var data = $(this).serialize();
               var form = $(this);
               $.ajax({
                   method: 'post',
                   url: '{{ path('createProfilRechercheProjet') }}',
                   data: data,

                   success: function(response){

                       $('.profil_recherche').append(response);
                       $('.vignette_profil:last-child').hide().fadeIn(2000);

                       form.trigger('reset');
                   }
               });
            });
            $('.profil_recherche').on('click','.deleteProfilR', function(e){
                e.preventDefault();
                var id = $(this).attr('id');
                var content = $(this).parent();
                $.ajax({
                    method: 'post',
                    url: '{{ path('deleteProfilRerchercheProjet') }}',
                    data: {'id' : id},
                    success: function(){
                        $(content).fadeOut(2000);

                    }

            });


            })
        });
    </script>
{% endblock %}


