{# src/MBLBundle/Resources/views/Users/addProjet.html.twig #}

{% extends 'MBLBundle::layout.html.twig' %}

{% block titreH2 %}<h2>{{ 'Nouveau Projet'|trans }}</h2>{% endblock %}

{% block body %}

    {% set locale  = app.request.locale %}
    {% set titre = 'titre' ~ locale %}

<div id="createProjet" class="container">
    <div class="row">
        <div class="col s12 m12">
            {{ form_start(form) }}
            <div class="row">
                <div class="col s6">
                    <div class="titre_row center-align">
                        {{ form_label(form, titre) }}
                        {{ form_errors(form, titre) }}
                        {{ form_widget(form, titre, {'attr': {'placeholder': '  titre:'}}) }}
                    </div>
                    <div class="description_row center-align">
                        {{ form_label(form.description) }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description, {'attr': {'placeholder': '  Description'}}) }}
                    </div>
                    <div class="siteInternet_row center-align">
                        {{ form_label(form.siteInternet) }}
                        {{ form_errors(form.siteInternet) }}
                        {{ form_widget(form.siteInternet, {'attr': {'placeholder': '  url:'}}) }}
                    </div>
                    <div class="ebustaUrl_row center-align">
                        {{ form_label(form.ebustaUrl) }}
                        {{ form_errors(form.ebustaUrl) }}
                        {{ form_widget(form.ebustaUrl, {'attr': {'placeholder': '  url:'}}) }}
                    </div>
                </div>
                <div class="col s6">
                    <div class="typeDeProjet_row center-align">
                        {{ form_label(form.typeDeProjet) }}
                        {{ form_errors(form.typeDeProjet) }}
                        {{ form_widget(form.typeDeProjet, {'attr': {'class': 'blue lighten-4'}}) }}
                    </div>
                    <div class="secteur center-align">
                        {{ form_label(form.secteur) }}
                        {{ form_errors(form.secteur) }}
                        {{ form_widget(form.secteur, {'attr': {'class': 'blue lighten-4'}}) }}
                    </div>
                    <div class="localisation center-align">
                        {{ form_label(form.localisation) }}
                        {{ form_errors(form.localisation) }}
                        {{ form_widget(form.localisation, {'attr': {'placeholder': '  Localisation:'}}) }}
                    </div>
                    <div class="row">
                        <div class="file center-align">
                            <div class="col s6">

                                {{ form_errors(form.fichier) }}
                                {{ form_widget(form.fichier) }}
                            </div>
                        </div>
                        <div class="col s6">
                            <img class="hiddenPreview" id="preview" src="#" alt="Votre Photo" />
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="btn submitProjet" type="submit" value="Création"/>
        </div>
        {{ form_end(form) }}

    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#mblbundle_projet_fichier_file").change(function(){
            readURL(this);
        });
        $(document).ready(function() {
            $('select').material_select();
            $('.file').on('click', '#mblbundle_projet_fichier_file', (function(){
                $('#preview').removeClass('hiddenPreview')
                $('#preview').slideDown(20000);

            }));

        });
    </script>
{% endblock %}