{# src/MBLBundle/Resources/views/Users/editProject.html.twig #}

{% extends 'MBLBundle::layout.html.twig' %}

{% block titreH2 %}<h2 class="bandeau_homepage">{{ 'Actualiser le projet'|trans }}</h2>{% endblock %}

{% block body %}
    <div id="editProject">
        <div class="container">
            <div class="row">

                <div class="col s12 m6 l5">
                    <div class="col s12 center modif">
                        <button class="btn" id="{{ projet.id }}">{{ 'Editer votre projet'|trans }}</button>
                    </div>
                    {{ form_start(form) }}
                    <div class="titre_row center-align">
                        <label>{{ 'Titre'|trans }}</label>
                        {{ form_errors(attribute(form, 'titre' ~ locale )) }}
                        {{ form_widget(attribute(form, 'titre' ~ locale), {'attr': {'placeholder': '  titre:'}}) }}
                    </div>
                    <div class="description_row center-align">
                        <label>{{ 'Description'|trans }}</label>
                        {{ form_errors(attribute(form, 'description' ~ locale)) }}
                        {{ form_widget(attribute(form, 'description' ~ locale), {'attr': {'placeholder': '  Description'}}) }}
                    </div>
                    <div class="siteInternet_row center-align">

                        <label>{{ 'Site Internet'|trans }}</label>
                        {{ form_errors(attribute(form, 'siteInternet' ~ locale)) }}
                        {{ form_widget(attribute(form, 'siteInternet' ~ locale), {'attr': {'placeholder': '  url:'}}) }}
                    </div>
                    <div class="ebustaUrl_row center-align">
                        <label>{{ 'ebusta Url'|trans }}</label>
                        {{ form_errors(attribute(form, 'ebustaUrl' ~ locale)) }}
                        {{ form_widget(attribute(form, 'ebustaUrl' ~ locale), {'attr': {'placeholder': '  url:'}}) }}
                    </div>
                    <div class="typeDeProjet_row center-align">
                        <label>{{ 'Type de projet'|trans }}</label>
                        {{ form_errors(form.typeDeProjet) }}
                        {{ form_widget(form.typeDeProjet, {'attr': {'class': 'blue lighten-4'}}) }}
                        </div>
                        <div class="secteur center-align">
                        <label>{{ 'Secteur'|trans }}</label>
                        {{ form_errors(form.secteur) }}
                        {{ form_widget(form.secteur, {'attr': {'class': 'blue lighten-4'}}) }}
                    </div>
                    <div class="localisation center-align">
                        <label>{{ 'Localisation'|trans }}</label>
                        {{ form_errors(form.localisation ) }}
                        {{ form_widget(form.localisation, {'attr': {'placeholder': '  Localisation:'}}) }}
                    </div>
                    <div class="ville center-align">
                        <label>{{ 'Ville'|trans }}</label>
                        {{ form_widget(form.ville, {'attr' : {'placeholder' : ' Ville'}}) }}
                        {{ form_errors(form.ville) }}
                    </div>

                    <div class="row">
                        <div class="col s3">
                            <label>{{ 'Photo'|trans }}</label>  TODO: dans le css mettre le label par defaut en hidden pour pouvoir faire apparaitre la traduction de photo à la place

                            {{ form_errors(form.fichier.file) }}
                            {{ form_widget(form.fichier.file) }}
                        </div>
                        <div class="col s2">
                            {% if projet.fichier is empty %}
                            {% else %}
                            <img src="{{ asset('uploads/images/'~ projet.fichier.photo) }}">
                            {% endif %}
                        </div>
                    </div>


                    <div>
                        <input class="btn" type="submit" value="{{ 'Editer'|trans }}"/>
                    </div>

                    {{ form_end(form) }}
                </div>
                <div class="col s12 m6 l6 offset-l1">
                    <div class="col s12 center bouttonAjout">

                        <a href="{{ path('createProfilRechercheProjet', {'id' : projet.id}) }}">
                            <button class="btn" id="{{ projet.id }}">{{ 'Ajoutez un profil recherché'|trans }}</button>

                        </a>
                    </div>
                    <div class="profil_recherche">
                        {% for profil in profil_exist %}
                            <div class="col s6 vignette_projet_profilAdd z-depth-5">
                                <div class="row type_metier">
                                    <div class="color col s12">
                                        <h5 class="center">{{ 'Profil Recherché'|trans }}</h5>
                                        {% if profil.metier is empty %}
                                            <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                                        {% else %}
                                            <p class="center">{{profil.metier }} </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row info_projet_profilAdd">

                                    <div class="col s12">
                                        <h6>{{ 'Disponibilité'|trans }}</h6>
                                        {% if profil.dispo is empty %}
                                            <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                                        {% else %}
                                            <p>{{ profil.dispo }} </p>
                                        {% endif %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'En tant que'|trans }}</h6>
                                        {% if profil.etq is empty %}
                                            <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                                        {% else %}
                                            <p>{{ profil.etq }} </p>
                                        {% endif %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Localisation'|trans }}</h6>
                                        {% if profil.ou is empty %}
                                            <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                                        {% else %}
                                            <p>{{ profil.ou }}</p>
                                        {% endif %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Investissement'|trans }}</h6>
                                        {% if profil.invest is empty %}
                                        <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                                    {% else %}
                                        <p>{{ profil.invest }}</p>
                                        {% endif %}<div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Compétences:'|trans }}</h6>
                                        {% for comp in profil.competence %}
                                            {% if comp.competence is empty %}
                                                <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                                            {% else %}
                                                {% if loop.last %}
                                                    {{ comp.competence}}
                                                {% else %}
                                                    {{ comp.competence}},
                                                {% endif %}
                                            {% endif %}


                                        {% endfor %}
                                    </div>


                                </div>

                                <div class="col s12 center">
                                    <button class="btn deleteProfilR" id="{{ profil.id }}">{{ 'Supprimer'|trans }}</button>
                                </div>
                                <div class="col s12 center editbtn">
                                    <a href="{{ path('editProfilRechercheProjet', {'id':profil.id}) }}"><button class="btn editProfil" id="{{ profil.id }}">{{ 'Editer'|trans }}</button></a>
                                </div>


                            </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();

            $('.profil_recherche').on('click','.deleteProfilR', function(e){
                e.preventDefault();
                var id = $(this).attr('id');
                var content = $(this).parent().parent();
                $.ajax({
                    method: 'post',
                    url: '{{ path('deleteProfilRerchercheProjet') }}',
                    data: {'id' : id},
                    success: function(){
                        $(content).fadeOut(2000);

                    }

                });


            });

        });
    </script>
{% endblock %}