{% extends '@MBL/layout.html.twig' %}

{% block titreH2 %} <h2 class="bandeau_homepage">{{ 'Modifier mon profil'|trans }}</h2> {% endblock %}


{% block body %}

    <div class="container editprofil">
        <div class="row">
            <div class="col s12">
                {{ form_start(edit_form) }}
                <div class="col m6 s12">
                    <div s="row divform col s12">
                        <label>{{ 'Nom:'|trans }}*</label>
                        {{ form_errors(edit_form.nom) }}
                        {{ form_widget(edit_form.nom, {'attr': {'placeholder': 'Nom:'|trans}}) }}
                    </div>

                    <div s="row divform col s12">
                        <label>{{ 'Prenom:'|trans }}*</label>
                        {{ form_errors(edit_form.prenom) }}
                        {{ form_widget(edit_form.prenom, {'attr': {'placeholder': 'Prenom:'|trans}}) }}
                    </div>

                    <div s="row divform col s12">
                        <label>{{ 'description'|trans }}*</label>
                        {{ form_errors(edit_form.description) }}
                        {{ form_widget(edit_form.description)}}
                    </div>

                    <div s="row divform col s12">
                        {{ form_label(edit_form.linkedIn) }}
                        {{ form_errors(edit_form.linkedIn) }}
                        {{ form_widget(edit_form.linkedIn, {'attr': {'placeholder': ' LinkedIn '}}) }}
                    </div>

                    <div s="row divform col s12">
                        <label>{{ 'Localisation'|trans }}*</label>
                        {{ form_errors(edit_form.localisation) }}
                        {{ form_widget(edit_form.localisation, {'attr': {'placeholder': 'Localisation'|trans}}) }}
                    </div>

                    <div class= ville divform col s12">
                        <label>{{ 'Ville'|trans }}</label>
                        {{ form_widget(edit_form.ville, {'attr' : {'placeholder' : 'Ville'|trans}}) }}
                        {{ form_errors(edit_form.ville) }}
                    </div>
                </div>


                <div class="col m6 s12">
                    <div class="divform sltbox col s12">
                        <label>{{ 'Metier'|trans|capitalize }}*</label>
                        {{ form_errors(edit_form.metier) }}
                        {{ form_widget(edit_form.metier, {'attr': {'placeholder': ' Métiers '}}) }}
                    </div>

                    <div class="divform sltbox col s12">
                        <label>{{ 'En tant que'|trans }}*</label>
                        {{ form_errors(edit_form.etq) }}
                        {{ form_widget(edit_form.etq, {'attr': {'placeholder': ' En tant que '}}) }}
                    </div>

                    <div class="divform sltbox col s12">
                        <label>{{ 'Où:'|trans }}*</label>
                        {{ form_errors(edit_form.ou) }}
                        {{ form_widget(edit_form.ou, {'attr': {'placeholder': ' Ou '}}) }}
                    </div>

                    <div class="divform sltbox col s12">
                        <label>{{ 'Investissement'|trans }}*</label>
                        {{ form_errors(edit_form.invest) }}
                        {{ form_widget(edit_form.invest, {'attr': {'placeholder': ' Investissement '}}) }}
                    </div>

                    <div class="divform sltbox col s12">
                        <label>{{ 'Disponibilité'|trans }}*</label>
                        {{ form_errors(edit_form.dispo) }}
                        {{ form_widget(edit_form.dispo, {'attr': {'placeholder': ' Disponibilité '}}) }}
                    </div>

                    <div class="divform sltbox col s12">
                        <label>{{ 'Compétences'|trans }}*</label>
                        {{ form_errors(edit_form.competences) }}
                        {{ form_widget(edit_form.competences, {'attr': {'placeholder': ' Compétences '}}) }}
                    </div>
                </div>
                <div class="col s12 divFichier center-align">
                    <div class="row">
                        <div class="file col m6 s12">
                            <label>{{ 'Photo(s)'|trans }}</label>
                            {{ form_errors(edit_form.fichier) }}
                            {{ form_widget(edit_form.fichier) }}
                        </div>
                        <div class="col m6 s12">
                            <img class="hiddenPreview  responsive-img" id="preview" src="#" alt="Votre Photo" />
                        </div>
                    </div>
                </div>
                <div class="col s12 divform">
                    <div class="col s6 btnleft">
                        <input class="btn btlft" type="submit" value="{{ 'Enregistrez'|trans }}"/>
                    </div>
                    <div class="col s6 btnright">

                       <a href="{{ path('showMyProfil') }}"><input class="btn btrght"  value="{{ 'Voir mon profil public'|trans }}"/></a>

                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#mblbundle_profil_fichier_file").change(function(){
            readURL(this);
        });
        $('.file').on('click', '#mblbundle_profil_fichier_file', (function(){
            $('#preview').removeClass('hiddenPreview')
            $('#preview').slideDown(400);

        }));

    </script>

{% endblock %}