{% extends '@MBL/layout.html.twig' %}
{% block titreH2 %} <h2>{{ 'Mon compte'|trans }}</h2> {% endblock %}


{% block body %}
<div id="homepage">
<div class="UHP">
    <div class="row btnlink">
        <div class="col s3 offset-s3">
            <a class="waves-effect waves-light btn" href="{{ path('editProfil')}}">{{ 'Gérer mon profil'|trans }}</a>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn" href="{{ path('showProfil')}}">{{ 'Voir mon profil public'|trans }}</a>
        </div>
     </div>

    <div class="row btnlink">
        <div class="col s3 offset-s3">
            <a class="waves-effect waves-light btn" href="{{ path('createProjet') }}">{{ 'Créer un projet'|trans }}</a>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn" href="{{ path('showMyProject')}}">{{ 'Gérer mes projets'|trans }}</a>
        </div>
    </div>

    <div class="row btnlink btnlink1 ">
        <div class="col s3 offset-s3">
            <a class="waves-effect waves-light btn" href="{{ path('connect')}}">{{ 'Mes discussions'|trans }}</a>
        </div>
    </div>
</div>
</div>

{% endblock %}