{% extends '@MBL/layout.html.twig' %}


{% block bandeau %}
{% endblock %}
{% block body %}


<!--Bandeau de la homepage -->
<div id="index">
    <div class="row">
        <div class="col s12 bandeau_homepage ">
            <div class="col s12 m4 presentation ">
                <h2>{{ 'Pour les porteurs de projet'|trans }}<br/></h2>
                <p>{{ 'index.description.but'|trans}}<br/></p>
                <h2>{{ 'Pour ceux qui cherchent un projet à intégrer'|trans }}<br/></h2>
                <p>{{ 'index.description.howDo'|trans}}</p>
            </div>
            <div class="col s12 m2 offset-m1">
                <div class="row Outils">
                    <div class="col s12">
                        <<<<<<< HEAD
                        <a class="waves-effect waves-red btn btn_bandeau_homepage btn_outils" href="#">
                            {{ 'Outils pour se lancer'|trans }}</a>
                    </div>
                    <div class="col s12">
                        <p>{{ 'Trouve sur MyStartupTools.com'|trans }}<br/>
                            {{ 'Tous les outils pour t’aider à lancer ton activité'|trans}}</p>
                        =======
                        <a class="waves-effect waves-red btn btn_bandeau_homepage btn_outils" href="#">{{ 'Outils pour se lancer'|trans }}</a>
                    </div>
                    <div class="col s12">
                        <p>{{ 'Trouve sur MyStartupTools.com'|trans }}<br/>{{ 'Tous les outils pour t’aider à lancer ton activité'|trans}}</p>
                        >>>>>>> dev
                    </div>
                </div>
            </div>
            <div class="col s12 m4 offset-m1">
                <div class="row Finance">
                    <div class="col s6 btn_eBusta">
                        <<<<<<< HEAD
                        <a class="waves-effect waves-red btn btn_bandeau_homepage btn_finance" target="blanck"
                           href="https://www.e-busta.com/">{{ 'Finance ton projet'|trans}}</a>
                        =======
                        <a class="waves-effect waves-red btn btn_bandeau_homepage btn_finance" target="blanck" href="https://www.e-busta.com/">{{ 'Finance ton projet'|trans}}</a>
                        >>>>>>> dev
                    </div>
                    <div class="col s6">
                        <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>{{ 'index.description.ebusta'|trans }}</p>
                    </div>

                </div>
            </div>
        </div>



        <!--Section projet & profil -->
        <div class="row box_projet_profil">
            <!--PROJET-->
            <div class="col s12 m6 l5 offset-l1 projet ">
                <h3>{{ 'Vous cherchez un projet où vous investir'|trans}}</h3>

                <div class="row bouton_projet valign-wrapper">
                    <div class="col s12 m6 l5 offset-l1 btn_showProjet ">
                        <a class="waves-effect waves-red btn btn_bandeau_homepage " href="{{ path('showProject') }}">{{ 'Parcourir les projets'|trans}}</a>
                    </div>
                    <div class="col s12 m6 l5 offset-l1 btn_createProjet">
                        <a class="waves-effect waves-red btn btn_bandeau_homepage " href="{{ path('createProjet') }}">{{ 'Dépose ton projet'|trans}}</a>
                    </div>
                </div>
                <div class="row ">
                    {% for pro in projet %}

                        <a href="{{ path('showOneProject', {'id': pro.id}) }}">
                            <div class="col s12 m6 l5 offset-l1 vignette_projet  z-depth-5">
                                <div class="row vignette ">
                                    <div class="col s12">

                                        {% if pro.titre|length > 8 %}
                                            <h4>{{ pro.titre|slice(0,6) ~ '...'  }}</h4>
                                        {% else  %}
                                            <h4>{{ pro.titre }}</h4>
                                        {% endif %}
                                    </div>
                                    <div class="col s8 offset-s2 photo_profil">
                                        {% if pro.fichier is empty %}
                                            <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                                        {% else %}

                                            <img class="responsive-img" src="{{ asset('uploads/images/' ~ pro.fichier[0].photo ) }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row info_projet">
                                    <div class="col s12">
                                        <h6>{{ 'Type de projet'|trans }}</h6>
                                        {{ pro.typeDeProjet }}
                                        <div class="divider"></div>
                                    </div>

                                    <div class="col s12">
                                        <h6>{{ 'Secteur'|trans }}</h6>
                                        {{ pro.secteur }}
                                        <div class="divider"></div>
                                    </div>


                                    <div class="col s12">
                                        <h6>{{ 'Profils recherchés'|trans }}</h6>

                                        {% for profil in pro.metier %}
                                            {% if profil['metier']|length > 10 %}
                                                {% if loop.last %}
                                                    {{ profil['metier']|slice(0,8) ~'...' }}
                                                {% else %}
                                                    {{ profil['metier']|slice(0,8) ~'...' }},
                                                {% endif %}
                                            {% else  %}
                                                {% if loop.last %}
                                                    {{ profil['metier'] }}
                                                {% else %}
                                                    {{ profil['metier'] }},
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="divider"></div>
                                    </div>

                                    <div class="col s12">
                                        <h6>{{ 'Localisation'|trans}}</h6>

                                        {% if pro.localisation is not null %}
                                            <p>{{ pro.localisation }}</p>
                                        {% else %}
                                            {#TODO: compléter avec un else pt être? #}
                                        {% endif %}
                                        {% if pro.ville|first is not null %}
                                            <p>{{ pro.ville|first }}</p>
                                        {% else %}
                                            {#TODO: compléter avec un else pt être? #}
                                        {% endif %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Description'|trans }}</h6>
                                        <p>{{ pro.description }}</p>
                                    </div>

                                </div>
                            </div>
                        </a>

                    {% endfor %}
                </div>
            </div>


            <!--PROFIL-->
            <div class="col s12 m6 l5 profil  ">
                <h3>{{ 'Vous cherchez un associé'|trans}}</h3>

                <div class="row bouton_projet valign-wrapper">
                    <div class="col s12 m6 l5 offset-l1 btn_showProfil">
                        <a class="waves-effect waves-red btn btn_bandeau_homepage " href="#">{{ 'Parcourir les profils'|trans}}</a>
                    </div>
                    <div class="col s12 m6 l5 offset-l1 btn_createProfil">
                        <a class="waves-effect waves-red btn btn_bandeau_homepage " href="#">{{ 'Dépose ton profil'|trans}}</a>
                    </div>

                </div>


                <div class="row ">
                    {% for pro in profils %}
                        <a href="{{ path('showProfil', {'id': pro.id}) }}">
                            <div class="col s12 m6 l5 offset-l1 vignette_profil z-depth-5">
                                <div class="row vignette ">
                                    <div class="col s12">
                                        {% if pro.prenom|length > 8 %}
                                            <h4>{{ pro.prenom|slice(0,6) ~ '...'  }}</h4>
                                        {% else  %}
                                            <h4>{{ pro.prenom }} {{ pro.nom|slice(0,1) }}.</h4>
                                        {% endif %}


                                    </div>
                                    <div class="col s8 offset-s2 photo_profil">
                                        {% if pro.fichier is empty %}
                                            <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                                        {% else %}
                                            {# TODO: à verifier #}
                                            <img class="responsive-img" src="{{ asset('uploads/images/' ~ pro.fichier.photo ) }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row info_projet">
                                    <div class="col s12">
                                        <h6>{{ 'Profil'|trans}}</h6>
                                        {% if pro.metier.metier is defined  %}
                                            {{ pro.metier.metier }}
                                        {% endif %}

                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Compétences'|trans }}</h6>
                                        {% for comp in pro.competences %}
                                            {% if loop.last %}
                                                {{ comp.competence}}
                                            {% else %}
                                                {{ comp.competence}},
                                            {% endif %}
                                        {% endfor %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Localisation'|trans}}</h6>
                                        {% if pro.localisation and pro.ville is defined %}
                                            <p>{{ pro.localisation }}, {{ pro.ville }}</p>
                                        {% else %}
                                        {% endif %}

                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Description'|trans}}</h6>
                                        <p>{{ pro.description }}</p>
                                        <div class="divider"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
