{% extends '@MBL/layout.html.twig' %}

{% block bandeau %}
{% endblock %}
{% block body %}

<!--Bandeau de la homepage -->
<div id="index">
    <div class="row">
        <div class="col s12 bandeau_homepage ">
            <div class="col s4 presentation ">

                <h2>{{ 'Pour les porteurs de projet'|trans }}<br/></h2>
                <p>{{ 'index.description.but'|trans}}<br/></p>
                <h2>{{ 'Pour ceux qui cherchent un projet à intégrer'|trans }}<br/></h2>
                <p>{{ 'index.description.howDo'|trans}}</p>
            </div>
            <div class="col s2 offset-s1">
                <div class="row Outils">
                    <div class="col s12">
                        <a class="waves-effect waves-red btn btn_bandeau_homepage btn_outils" href="#">{{ 'Outils pour se lancer'|trans }}</a>
                    </div>
                    <div class="col s12">
                        <p>{{ 'Trouve sur MyStartupTools.com'|trans }}<br/>{{ 'Tous les outils pour t’aider à lancer ton activité'|trans}}</p>
                    </div>
                </div>
            </div>
            <div class="col s4 offset-s1">
                <div class="row Finance">
                    <div class="col s6 btn_eBusta">
                        <a class="waves-effect waves-red btn btn_bandeau_homepage btn_finance" target="blanck" href="https://www.e-busta.com/">{{ 'Finance ton projet'|trans}}</a>
                    </div>
                    <div class="col s6">
                        <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>{{ 'index.description.ebusta'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Section projet & profil -->
    <div class="row box_projet_profil">
        <!--PROJET-->
        <div class="col s5 offset-s1 projet ">
                <h3>{{ 'Vous cherchez un associé'|trans}}</h3>
            <div class="row bouton_projet valign-wrapper">
                <div class="col s5 btn_showProjet ">
                    <a class="waves-effect waves-red btn btn_bandeau_homepage " href="{{ path('showProject') }}">{{ 'Parcourir les projets'|trans}}</a>
                </div>
                <div class="col s5 btn_createProjet">
                    <a class="waves-effect waves-red btn btn_bandeau_homepage " href="{{ path('createProjet') }}">{{ 'Dépose ton projet'|trans}}</a>
                </div>
            </div>
            <div class="row ">
                {% for pro in projet %}
                    <div class="col s5 offset-s1 vignette_projet  z-depth-5">
                        <div class="row vignette ">
                            <div class="col s12">
                                <h4>{{ pro.titre }}</h4>
                            </div>
                            <div class="col s8 offset-s2 photo_profil">
                                <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                            </div>
                        </div>
                        <div class="row info_projet">
                            <div class="col s12">
                                <h5>{{ 'Profils recherchés'|trans }}</h5>
                                {% for profil in pro.profilsrecherches %}
                                  <p>{{ profil.metier.metier}}</p>
                                {% endfor %}
                            </div>
                            <div class="col s12">
                                <h5>{{ 'Localisation'|trans}}</h5>
                                <p>{{ pro.localisation }}</p>
                            </div>
                            <div class="col s12">
                                <h5>{{ 'Description'|trans }}</h5>
                                <p>{{ pro.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--PROFIL-->
        <div class="col s5 profil  ">
            <h3>{{ 'Vous cherchez un projet où vous investir'|trans}}</h3>
            <div class="row bouton_projet valign-wrapper">
                <div class="col s5 btn_showProfil">
                    <a class="waves-effect waves-red btn btn_bandeau_homepage " href="#">{{ 'Parcourir les profils'|trans}}</a>
                </div>
                <div class="col s5 btn_createProfil">
                    <a class="waves-effect waves-red btn btn_bandeau_homepage " href="#">{{ 'Dépose ton profil'|trans}}</a>
                </div>
            </div>
            <div class="row ">
                {% for pro in profils %}
                    <div class="col s5 offset-s1 vignette_projet  z-depth-5">
                        <div class="row vignette ">
                            <div class="col s12">
                                <h4>{{ pro.nom }} {{ pro.prenom }}</h4>
                            </div>
                            <div class="col s8 offset-s2 photo_profil">
                                <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                            </div>
                        </div>
                        <div class="row info_projet">
                            <div class="col s12">
                                <h5>{{ 'Profil'|trans}}</h5>
                                {% if pro.metier == null  %}
                                {#{{ pro.metier }} #}{{ pro.metier }}
                                 {% endif %}


                            </div>
                            <div class="col s12">
                                <h5>{{ 'Localisation'|trans}}</h5>
                                <p>{{ pro.localisation }}</p>
                            </div>
                            <div class="col s12">
                                <h5>{{ 'Description'|trans}}</h5>
                                <p>{{ pro.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
