    <div class="col s3 vignette_profil ">
        <div class="content z-depth-5">
            <div class="row vignette ">
                <div class="col s12">
                    <h4>{{ 'Profil Recherché'|trans }}</h4>
                </div>
                <div class="col s8 offset-s2 photo_profil">
                    <img src="{{ asset('bundles/mbl/img/kyan.png') }}">
                </div>
            </div>
            <div class="row info_profil">
                <div class="col s12">
                    <h5>{{ 'Profil'|trans }}</h5>
                    <p>{{ profil.metier.metier }}</p>
                </div>
                <div class="col s12">
                    <h5>{{ 'Disponibilité'|trans }}</h5>
                    <p>{{ profil.dispo.dispo }}</p>
                </div>
                <div class="col s12">
                    <h5>{{ 'En tant que'|trans }}</h5>
                    <p>{{ profil.ETQ.etq }}</p>
                </div>
                <div class="col s12">
                    <h5>{{ 'Localisation'|trans }}</h5>
                    <p>{{ profil.ou.ou }}</p>
                </div>
                <div class="col s12">
                    <h5>{{ 'Investissement'|trans }}</h5>
                    <p>{{ profil.invest.invest }}</p>
                </div>
                <div class="col s12">
                    <h5>{{ 'Compétences'|trans }}</h5>
                    {% for comp in profil.competences %}
                        <p>{{ comp.competences }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col s8 offset-s2">
            <button class="btn deleteProfilR" id="{{ profil.id }}">{{ 'Supprimer'|trans }}</button>
        </div>
    </div>
