{% extends '@MBL/layout.html.twig' %}

{% block titreH2 %} <h2>Mon profil public</h2> {% endblock %}

{% block body %}
<div class="container showprofil">
    <div class="row">


        <div class="col s6 cartepro">
            <div class="row">
                <div class="col s12 title ">
                    <h4 id="titre">{{ profilType.nom  }} </h4><h4>{{ profilType.prenom }}</h4>
                </div>
                <div class="col s12 imgpro">
                    <img src="{{ asset('bundles/mbl/img/kyan.png') }}" alt="photo de profil"/>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h5>Description:</h5>
                    {% if profilType.description is same as(null) %}
                        <p>N.R.</p>
                    {% else %}
                        <p>{{ profilType.description }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>LinkedIn:</h5>
                    {% if profilType.linkedIn is same as(null) %}
                        <p>N.R.</p>
                    {% else %}
                        <p>{{ profilType.linkedIn }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>Localisation:</h5>
                    {% if profilType.localisation is same as(null) %}
                        <p>renseignez votre localisation</p>
                    {% else %}
                        <p>{{ profilType.localisation }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>Investissement:</h5>
                    {% if profilType.invest is same as(null) %}
                        <p>N.R.</p>
                    {% else %}
                        <p>{{ profilType.invest.invest }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>En tant que:</h5>
                    {% if profilType.etq is same as(null) %}
                        <p>renseignez votre status</p>
                    {% else %}
                        <p>{{ profilType.etq.etq }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>Disponibilité:</h5>
                    {% if profilType.dispo is same as(null) %}
                        <p>N.R.</p>
                    {% else %}
                        <p>{{ profilType.dispo.dispo }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>Où:</h5>
                    {% if profilType.ou is same as(null) %}
                        <p>N.R.</p>
                    {% else %}
                        <p>{{ profilType.ou.Ou }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>Métiers:</h5>
                    {% if profilType.metier is same as(null) %}
                        <p>précisez votre métier</p>
                    {% else %}
                        <p>{{ profilType.metier.metier }}</p>
                    {% endif %}
                </div>

                <div class="col s12 ">
                    <h5>Compétences:</h5>
                    {% if profilType.competences is empty %}
                        <p>renseignez vos compétences</p>
                    {% else %}
                        <p>{% for competences in profilType.competences %} {{ competences.competences }} {% endfor %}</p>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="col s12 divform ">
            <a class="btn" href="{{ path('editProfil', { 'id': profilType.id }) }}">Modifier mon profil</a>
        </div>
</div>

{% endblock %}