{% extends '@MBL/layout.html.twig' %}


{% block titreH2 %} <h2>{{ 'Parcourir vos projets'|trans }}</h2> {% endblock %}
{% block body %}
    <div class="showMyProjet">
       {% if app.session.flashbag.has('notice') %}
        {{ app.session.flashbag.get('notice') }}
           {% endif %}
        <div class="box_projet">


            <div class="row">

                {% for projets in projects %}
                    <div class="col l2 m3 s4 vignette_projet">
                        <div class="content z-depth-5">
                            <div class="row vignette">
                                <div class="col s12">
                                    <h4>{{ projets.titre }}</h4>
                                </div>
                                <div class="col s8 offset-s2 photo_profil">
                                    <img src="{{ asset('uploads/images/' ~ projets.fichier.photo) }}">
                                </div>
                            </div>
                            <div class="row info_projet">
                                <div class="col s12">
                                    <h5>{{ 'Profils recherchés'|trans }}</h5>
                                    {% for profil in projets.profilsrecherches %}
                                        <p>{{ profil.metier.metier}}</p>
                                    {% endfor %}
                                </div>
                                <div class="col s12">
                                    <h5>{{ 'Localisation'|trans }}</h5>
                                    <p>{{ projets.localisation }}</p>
                                </div>
                                <div class="col s12">
                                    <h5>{{ 'Description'|trans }}</h5>
                                    <p>{{ projets.description }}</p>
                                </div>
                            </div>

                            {# Bouton pour voir 1 projet #}
                            <div class="row btnlink">
                                <div class="col s2 offset-s3">
                                    <a class="waves-effect waves-light btn" href="{{ path('showOneProject', {'id' : projets.id})}}">{{ 'Voir'|trans }}</a>
                                </div>
                            </div>

                        </div>
                        <div class="row btnlink">
                            <div class="col s12">
                                <a class="waves-effect waves-light btn" href="{{ path('editProjet', {'id' : projets.id})}}">{{ 'Editer'|trans }}</a>
                            </div>
                            <div class="col s12">
                                <a class="waves-effect waves-light btn" href="{{ path('deleteMyProject', {'id' : projets.id })}}">{{ 'Supprimer'|trans }}</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}