{% extends '@MBL/layout.html.twig' %}

{% block titreH2 %} <h2>{{ 'Parcourir les projets'|trans }}</h2> {% endblock %}
{% block body %}


    <div class="showProjet">
        <div class="row">
            {{ form_start(form_secteur) }}
            <div class="col s6">
                {{ form_row(form_secteur.secteur) }}
                {{ form_errors(form_secteur.secteur) }}
            </div>
            <div class="col s6">
                {{ form_row(form_secteur.typeDeProjet) }}
                {{ form_errors(form_secteur.typeDeProjet) }}
            </div>
            <div class="col s6">
                {{ form_row(form_secteur.localisation) }}
                {{ form_errors(form_secteur.localisation) }}
            </div>
            <div class="col s6">
                <input class="btn center" name="Rechercher" type="submit" value="{{ 'Rechercher'|trans }}">
            </div>
            {{ form_end(form_secteur) }}
        </div>

        <div class="box_projet">
            <div class="row">
                {% for pro in projects %}
                    <a href="{{ path('showOneProject', {'id': pro.id}) }}">
                        <div class="col s12 m6 l4 vignette_projet z-depth-5">
                            <div class="row vignette">

                                <div class="col s12">
                                    {% if pro.titre|length > 10 %}
                                        <h4>{{ pro.titre|slice(0,8) ~ '...'  }}</h4>
                                    {% else  %}
                                        <h4>{{ pro.titre }}</h4>
                                    {% endif %}
                                </div>
                                <div class="col s8 offset-s2 photo_profil">
                                    {% if pro.fichier is empty %}
                                        <img src="{{ asset('bundles/mbl/img/logoebusta.png') }}">
                                    {% else %}
                                        <img class="responsive-img" src="{{ asset('uploads/images/' ~ pro.fichier[0].photo ) }}">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row info_projet">
                                <div class="col s12">
                                    <h6>{{ 'Type de projet'|trans }}</h6>
                                    {{ pro.typeDeProjet }}
                                    <div class="divider"></div>
                                </div>
                                <div class="col s12">
                                    <h6>{{ 'Secteur'|trans }}</h6>

                                    {{ pro.secteur }}
                                    <div class="divider"></div>
                                </div>
                                <div class="col s12">
                                    <h6>{{ 'Profils recherchés'|trans }}</h6>
                                    {% for profil in pro['metier'] %}
                                        {% if profil|length > 10 %}
                                            {% if loop.last %}
                                                {{ profil['metier']|slice(0,8) ~'...' }}
                                            {% else %}
                                                {{ profil['metier']|slice(0,8) ~'...' }},
                                            {% endif %}

                                        {% else  %}
                                            {% if loop.last %}
                                                {{ profil['metier'] }}
                                            {% else %}
                                                {{ profil['metier'] }},
                                            {% endif %}

                                        {% endif %}


                                    {% endfor %}
                                    <div class="divider"></div>
                                </div>
                                <div class="col s12">
                                    <h6>{{ 'Localisation'|trans }}</h6>
                                    <p>{{ pro.localisation }}</p>
                                    <div class="divider"></div>
                                </div>
                                <div class="col s12">
                                    <h6>{{ 'Description'|trans }}</h6>
                                    <p>{{ pro.description }}</p>
                                </div>
                            </div>
                        </div>

                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}