{% extends '@MBL/layout.html.twig' %}

{% block titreH2 %} <h2>Mon profil public</h2> {% endblock %}

{% block body %}
    <div id="myProfil">
        <div class="container ">
            <div class="row ">
                <div class="col s12 m8 offset-l2 l6 offset-l3 showProfil">
                    <div class="col s12 m12 titre">
                        <h4 id="titre" class="center">{{ profil.prenom }} {{ profil.nom }}</h4>

                    </div>

                    <div class="col s12 center imgPhoto">
                        {% if profil.fichier is null %}
                            <img class="responsive-img" src="{{ asset('uploads/images/59') }}">
                        {% else %}
                            <img class="responsive-img" src="{{ asset('uploads/images/' ~ profil.fichier.photo ) }}">
                        {% endif %}
                    </div>

                    <div class="col s6">
                        <h6 class="center">Métiers</h6>
                        {% if profil.metier is same as(null) %}
                            <p class="center grey-text">Non renseigné</p>
                        {% else %}
                            <p>{{ profil.metier.metier }}</p>
                        {% endif %}
                    </div>

                    <div class="col s6">
                        <h6 class="center">Compétences</h6>
                        {% if profil.competences is empty %}
                            <p class="center grey-text">renseignez vos compétences</p>
                        {% else %}
                            <p>{% for competences in profil.competences %} {{ competences.competences }} {% endfor %}</p>
                        {% endif %}
                    </div>


                    <div class="col s12">
                        <h6 class="center">Description</h6>
                        {% if profil.description is same as(null) %}
                            <p class="center grey-text">Non renseigné</p>
                        {% else %}
                            <p>{{ profil.description }}</p>
                        {% endif %}
                    </div>

                    <div class="col s12 m6">
                        <h6 class="center">Investissement</h6>
                        {% if profil.invest is same as(null) %}
                            <p class="center grey-text">Non renseigné</p>
                        {% else %}
                            <p>{{ profil.invest.invest }}</p>
                        {% endif %}
                    </div>

                    <div class="col s12 m6">
                        <h6 class="center">Statut</h6>
                        {% if profil.etq is same as(null) %}
                            <p class="center grey-text">renseignez votre status</p>
                        {% else %}
                            <p>{{ profil.etq.etq }}</p>
                        {% endif %}
                    </div>

                    <div class="col s12 m6">
                        <h6 class="center">Disponibilité</h6>
                        {% if profil.dispo is same as(null) %}
                            <p class="center grey-text">Non renseigné</p>
                        {% else %}
                            <p>
                                {{ profil.dispo.dispo }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="col s12 m6">
                        <h6 class="center">Mobilité</h6>
                        {% if profil.ou is same as(null) %}
                            <p class="center grey-text">Non renseigné</p>
                        {% else %}
                            <p>{{ profil.ou.Ou }}</p>
                        {% endif %}
                    </div>

                    <div class="col s12 m6">
                        <h6 class="center">Domicile</h6>
                        {% if profil.localisation is same as(null) %}
                            <p class="center grey-text">renseignez votre localisation</p>
                        {% else %}
                            <p>{{ profil.localisation }}</p>
                        {% endif %}
                    </div>

                    <div class="col s12 m6">

                        <img class= "linkedIn responsive-img" src="{{ asset('bundles/mbl/img/Logo-2C-21px-TM.png') }}">
                        {% if profil.linkedIn is same as(null) %}
                            <p class="center grey-text">Non renseigné</p>
                        {% else %}
                            <p>{{ profil.linkedIn }}</p>
                        {% endif %}
                    </div>

                    <div class="col s12 divform ">
                        <a class="btn grey " href="{{ path('editProfil', { 'id': profil.id }) }}">Modifier mon profil</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}