{% extends '@MBL/layout.html.twig' %}


{% block titreH2 %} <h2>{{ 'Parcourir vos projets'|trans }}</h2> {% endblock %}
{% block body %}
    <div id="showMyProjet">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <h2>{{ flashMessage }}</h2>
        {% endfor %}
        <div class="box_projet">
            <div class="row">

                {% for pro in projects %}
                    <a href="{{ path('showOneProject', {'id': pro.id}) }}">
                        <div class="col s6 m6 l5 vignette_Myprojet  z-depth-5">
                            <div class="row vignettemypro ">
                                <div class="col s12 intitul">
                                    <h4>{{ pro.titre|capitalize|slice(0,30)}}</h4>
                                </div>
                                <div class="col s8 offset-s2 encarttof">
                                    {% if pro.fichier is empty %}
                                        <img class="responsive-img photo_profil" src="{{ asset('bundles/mbl/img/logoinnovaupsstxt.png') }}">
                                    {% else %}
                                        <img class="responsive-img photo_profil" src="{{ asset('uploads/images/' ~ pro.fichier[0].photo ) }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row info_projet">
                                <div class="col s12 center">
                                    <h6 class="center">{{ 'Type de projet'|trans }}</h6>
                                        {{ pro.typeDeProjet}}
                                    <div class="divider"></div>
                                </div>
                                <div class="col s12">
                                    <h6 class="center">{{ 'Profils recherchés'|trans }}</h6>
                                    {% for profil in pro.metier %}
                                        {% if profil.metier|length > 10 %}
                                            {% if loop.last %}
                                                {{ profil.metier|slice(0,8) ~'...' }}
                                            {% else %}
                                                {{ profil.metier|slice(0,8) ~'...' }},
                                            {% endif %}

                                        {% else %}
                                            {% if loop.last %}
                                                {{ profil.metier }}
                                            {% else %}
                                                {{ profil.metier }},
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <div class="divider"></div>
                                </div>
                                <div class="col s12">
                                    <h6 class="center">{{ 'Localisation'|trans }}</h6>
                                    <p class="center">{{ pro.localisation }}</p>
                                    <div class="divider"></div>
                                </div>
                                <div class="col s12">
                                    <h6 class="center">{{ 'Description'|trans }}</h6>
                                    <p class="center">{{ pro.description }}</p>
                                    <div class="divider"></div>
                                </div>
                            </div>

                            <div class="col s12 divform center ">
                                <a class="btn btmodif" href="{{ path('editProjet', {'id': pro.id }) }}">{{ 'Editer'|trans }}</a>
                                <a class="btn btdelete" href="{{ path('deleteMyProject', {'id' : pro.id })}}">{{ 'Supprimer'|trans }}</a>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}