{% extends '@MBL/layout.html.twig' %}

{% block titreH2 %}<h2 class="bandeau_homepage">{{ projet.titre|capitalize }}</h2>{% endblock %}
{% block body %}

    <div class="container">
        <div id="oneProject">
            <div class="row">
                <div class="col s12 dateCreation">
                    <h6 id="dateCreation">{{ 'Projet créé le'|trans }} {{ projet.dateCreation|date('d-m-Y') }}</h6>
                </div>
                <div class="col s12 m6 l6 presProjet1">
                    <div class="col s12 m4 l4 offpad1">
                        <h6>{{ 'Secteur'|trans }}</h6>
                        {% if projet.secteur is same as(null) %}
                            <p>{{ 'Non renseigné'|trans }}</p>
                        {% else %}
                            <p>{{ projet.secteur }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12 m4 l4 offpad1">
                        <h6>{{ 'Type de projet'|trans }}</h6>
                        {% if projet.typeDeProjet is same as(null) %}
                            <p>{{ 'Non renseigné'|trans }}</p>
                        {% else %}
                            <p>{{ projet.typeDeProjet }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12 m4 l4 offpad1">
                        <h6>{{ 'Localisation'|trans }}</h6>
                        {% if projet.localisation is same as(null) %}
                            <p>{{ 'Non renseignée'|trans }}</p>
                        {% else %}
                            <p>{{ projet.localisation }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12 offpad">
                        <h6>{{ 'Description'|trans }}</h6>
                        {% if projet.description is same as(null) %}
                            <p>{{ 'Non renseignée'|trans }}</p>
                        {% else %}
                            <p>{{ projet.description }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12 m6 l6 offpad">
                        <h6>{{ 'Site Internet'|trans }}</h6>
                        {% if projet.siteInternet is same as(null) %}
                            <p>{{ 'Non renseigné'|trans }}</p>
                        {% else %}
                            <p><a class="site" href="{{ projet.siteInternet }}">{{ projet.siteInternet }}</a></p>
                        {% endif %}
                    </div>

                    <div class="col s12 m6 l6 offpad">
                        <h6>eBusta</h6>
                        {% if projet.ebustaUrl is same as(null) %}
                            <p>{{ 'Non renseignée'|trans }}</p>
                        {% else %}
                            <p><a class="site" href="{{ projet.ebustaUrl }}">{{ projet.ebustaUrl }}</a></p>
                        {% endif %}
                    </div>

                    <div class="col s12 profil_recherche">
                        {% for profil in profil_recherche_exist %}

                            <div class="col s12 m6 l6 vignette_projet_profilAdd z-depth-5">
                                <div class="row type_metier">
                                    <div class="color col s12">
                                        <h5 class="center">{{ 'Profil Recherché'|trans }}</h5>
                                        {% if profil.metier is empty %}
                                            <p class="center grey-text">{{ 'renseignez votre status'|trans }}</p>
                                        {% else %}
                                            <p class="center">{{profil.metier }} </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row info_projet_profilAdd">

                                    <div class="col s12">
                                        <h6>{{ 'Disponibilité'|trans }}</h6>
                                        {% if profil.dispo is empty %}
                                            <p class="center grey-text">renseigner</p>
                                        {% else %}
                                            <p>{{ profil.dispo }} </p>
                                        {% endif %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'En tant que'|trans }}</h6>
                                        {% if profil.etq is empty %}
                                            <p class="center grey-text">renseigner</p>
                                        {% else %}
                                            <p>{{ profil.etq}} </p>
                                        {% endif %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Localisation'|trans }}</h6>
                                        {% if profil.ou is empty %}
                                            <p class="center grey-text">renseigner</p>
                                        {% else %}
                                            <p>{{ profil.ou }}</p>
                                        {% endif %}
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Investissement'|trans }}</h6>
                                        {% if profil.invest is empty %}
                                        <p class="center grey-text">renseigner</p>
                                    {% else %}
                                        <p>{{ profil.invest }}</p>
                                        {% endif %}<div class="divider"></div>
                                    </div>
                                    <div class="col s12">
                                        <h6>{{ 'Compétences'|trans }}</h6>

                                        {% for comp in profil.competence %}
                                            {% if comp.competence is empty %}
                                                <p class="center grey-text">renseigner</p>
                                            {% else %}
                                                {% if loop.last %}
                                                    {{ comp.competence}}
                                                {% else %}
                                                    {{ comp.competence}},
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col s12 m6 cartepro">
                    <div class="col s12 m12 titre">
                        <h4>{{ profil.prenom|capitalize }} {{ profil.nom|capitalize }}</h4>
                        <p class="center darkgrey-text proprio">({{ 'porteur du projet'|trans }})</p>
                    </div>
                    <div class="col s12 center imgPhoto section">
                        {% if profil.fichier is empty %}
                            <img class="responsive-img" src="{{ asset('bundles/mbl/img/logoinnovaupsstxt.png') }}">
                        {% else %}
                            <img class="responsive-img" src="{{ asset('uploads/images/' ~ profil.fichier.photo ) }}">
                        {% endif %}
                    </div>

                        <div class="col s12 section">
                            <h6 class="center">{{ 'Métiers'|trans }}</h6>
                            {% if profil.metier is same as(null) %}
                                <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                            {% else %}
                                <p class="center">{{ profil.metier.metier }}</p>
                            {% endif %}
                        </div>

                        <div class="col s12 section">
                            <h6 class="center">{{ 'Compétences'|trans }}</h6>
                            {% if profil.competences is empty %}
                                <p class="center grey-text">{{ 'renseignez vos compétences'|trans }}</p>
                            {% else %}
                                {% for competences in profil.competences %}
                                    <div class="chip">
                                        {{ competences.competence }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>


                    <div class="col s12 section">
                        <h6 class="center">{{ 'Description'|trans }}</h6>
                        {% if profil.description is same as(null) %}
                            <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                        {% else %}
                            <p>{{ profil.description }}</p>
                        {% endif %}
                    </div>
                        <div class="col s12 m6 section">
                            <h6 class="center">{{ 'Investissement'|trans }}</h6>
                            {% if profil.invest is same as(null) %}
                                <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                            {% else %}
                                <p class="center">{{ profil.invest.invest }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 m6 section">
                            <h6 class="center">{{ 'Statut'|trans }}</h6>
                            {% if profil.etq is same as(null) %}
                                <p class="center grey-text">{{ 'renseignez votre status'|trans }}</p>
                            {% else %}
                                <p class="center">{{ profil.etq.etq }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 m6 section">
                            <h6 class="center">{{ 'Disponibilité'|trans }}</h6>
                            {% if profil.dispo is same as(null) %}
                                <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                            {% else %}
                                <p class="center">{{ profil.dispo.dispo }}</p>
                            {% endif %}
                        </div>
                        <div class="col s12 m6 section">
                            <h6 class="center">{{ 'Mobilité'|trans }}</h6>
                            {% if profil.ou is same as(null) %}
                                <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                            {% else %}
                                <p>{{ profil.ou.ou }}</p>
                            {% endif %}
                        </div>
                    <div class="col s12 m6 section">
                        <h6 class="center">{{ 'Domicile'|trans }}</h6>
                        {% if profil.localisation is same as(null) %}
                            <p class="center grey-text">{{ 'renseignez votre localisation'|trans }}</p>
                        {% else %}
                            <p>{{ profil.localisation }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12 m6 section">
                        <img style="margin-top: .5rem; margin-bottom: -0.29rem;" class="center responsive-img" src="{{ asset('bundles/mbl/img/Logo-2C-21px-TM.png') }}">
                        {% if profil.linkedIn == 'http://VotrelinkedIn' %}
                            <p class="center grey-text">{{ 'Non renseigné'|trans }}</p>
                        {% else %}
                            <p><a href="{{ profil.linkedIn }}">Link</a></p>
                        {% endif %}
                    </div>
                    {% if app.user.id is defined %}
                        {% if app.user.id == profil.id %}
                        {% else %}
                            <div class="col s12 center">
                                <a class="btn grey" href="{{ path('chatConnect', {'id': profil.id}) }}">{{ 'Discuter'|trans }}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}