{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="login">
    <div class="container ">
        <h1 class="black-text center">{{ 'Connectez-vous'|trans}}</h1>
        <div class="col s12 center">
            <form class="left-align" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="row">
                    <div class="col s6 offset-s3 ">
                        <div class="row">
                            <div class="col s12 center">
                                <label for="username">E-mail</label>
                            </div>
                        </div>
                        <input  type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="exemple@gmail.com" />
                    </div>
                    <div class="col s6 offset-s3 ">
                        <div class="row">
                            <div class="col s12 center">
                                <label   for="password">{{ 'security.login.password'|trans }}</label>
                            </div>
                        </div>
                        <input type="password"  id="password" name="_password" required="required" placeholder="************" />
                    </div>
                    <div class="col s6 offset-s3 center">
                        <input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                    <div class="col s6 offset-s3 center remember ">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>

            </form>

        </div>
        <div class="col s12 center">
            <h1 class="center"> <a href="{{ path('fos_user_registration_register') }}">{{ 'Ou enregistrez-vous'|trans }} </a></h1>
        </div>
    </div>
</div>




